<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gateway</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('css/jquery.json-viewer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <script src="https://use.fontawesome.com/0363a4f84c.js"></script>
</head>
<body>

    {% macro is_active(segment) %}
        {% if app.request.uri == url(segment) %}active{% endif %}
    {% endmacro %}

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <a class="navbar-brand" href="{{ path('gateway') }}">Necktie Gateway</a>
        <a href="http://dev.getnecktie.com/logout">Logout</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                {% import _self as theme %}
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link {{ theme.is_active('gateway_dashboard') }}" href="{{ path('gateway_dashboard') }}">Overview <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ theme.is_active('gateway_supervisor') }}" href="{{ path('gateway_supervisor') }}">Supervisor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ theme.is_active('gateway_rabbitmq') }}" href="{{ path('gateway_rabbitmq') }}">RabbitMQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ theme.is_active('gateway_logs') }}" href="{{ path('gateway_logs') }}">Logs</a>
                    </li>
                </ul>
            </nav>

            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <div class="container">
                    {% block content %} {% endblock %}
                </div>
            </main>
        </div>
    </div>

    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="{{ asset('js/jquery.json-viewer.js') }}?x=3"></script>
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
</body>
</html>