{% extends '@Gateway/layout.html.twig' %}


{% block content %}

    <h1>RabbitMQ</h1>

    <section>
        {% if not rabbitError %}
        <table class="table table-white">
            <thead class="">
                <tr>
                    <th>Name</th>
                    <th>Messages ready</th>
                    <th>vhost</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                {% for queue in rabbit.getQueues() %}
                    <tr>
                        <td>{{ queue.name }}</td>
                        <td>{{ queue.messages_ready }}</td>
                        <td>{{ queue.vhost }}</td>
                        <td>{{ queue.state }}</td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <div class="row-queue">
                                <div>
                                    <a class="btn btn-info queue-info-btn" href="#">Queue info</a>
                                    <ul class="queue-info">
                                        {% for index, value in queue %}
                                            {% if value is iterable %}
                                                <ul>
                                                    {% for index2, value2 in queue %}
                                                        {% if value2 is iterable %}

                                                        {% else %}
                                                            <li><strong>{{ index2 }}</strong> : {{ value2 }}</li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <li><strong>{{ index }}</strong> : {{ value }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <p></p>
                                <div style="width:100%; word-wrap: break-word; padding-left: 15px;">
                                    {% for message in rabbit.queueMessages[queue.name] %}
                                        <div class="json">
                                            {{ message.payload }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <table class="table">
                <tbody>
                    <tr>
                        <th>Error</th>
                        <td class="table-warning">{{ rabbitError }}</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </section>

{% endblock %}